extends layout

block content

    a.foo_link(href='/home') Home Link
    p This is the Test Page ayyyyy
    img(src="public/images/karol.jpg" width="5%" height="5%")

    div.embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src="https://www.youtube.com/embed/cVYvozAWPtc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
