extends layout

block content

    a.foo_link(href='/home') Home Link
    p This is the Test Page ayyyyy
    img(src="public/images/karol.jpg" width="25%" height="25%")

    // a.foo_link(href='/', target='_blank') Back   -- Opens in a new tab