extends layout

block content

  a.foo_link(href='/home') Home Link

  div.embed-responsive.embed-responsive-16by9
    iframe.embed-responsive-item(src="https://player.twitch.tv/?channel=xmeatwagon" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620")
